::root {
  var-hello: red;
  var-this-that: #000;
  var-and-that: rgb(0, 3, 7);
}

li a,
.hello li a {
  padding-left: 20px;
  background: var(and-that);
}

.header {
  // margin: 4px 0 0;
  padding: 0;
  background-color: var(this-that);
  clear: none; //both;
}

.body {
  height: 800px;
  border: 1px solid;
  color: var(hello);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
